<div>
  <header class="app-header navbar">
      <img class="navbar-brand-full" src="assets/softlogue-logo.png" width='56' style="margin-top:0px;margin-left: 15px;" alt="Softlogue Logo">
        
    <button  class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
      <span class="fa fa-bars slideBars"></span>
    </button>
    <a class="navbar-brand" style="width: auto !important;" href="#">
    </a>
    <button *ngIf="roleVisibility" class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
      <span class="fa fa-bars slideBars"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
      <li class="nav-item px-3">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item d-md-down-none">
        <a class="nav-link" href="#">
          <i class=""></i>
          <span class="badge badge-pill badge-danger"></span>
        </a>
      </li>
      <li class="nav-item d-md-down-none">
        <a class="nav-link">
          <i class=""></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" 
           role="button" aria-haspopup="true" aria-expanded="false" style="font-size: 17px; padding-right: 10px;color: #e12503 !important">
          
           <i class="fa fa-user colorRed"></i>
           {{givenName}} 
          <span class="fa fa-angle-down colorRed"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header text-center">
            <a class="dropdown-item"  (click)="deleteCookies();">
              <i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </div>
      </li>
    </ul>
    
  </header>
  <div class="app-body">
    <div class="sidebar" *ngIf="roleVisibility">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item" >
            <a class="nav-link" routerLink="applicationviews" [routerLinkActive]="['active', '']">
              <i class="nav-icon icon-home"></i> Applications               
            </a>
          </li>
          <li class="nav-title" *ngIf="roleVisibility">Actions</li>
          <li class="nav-item nav-dropdown" *ngIf="roleVisibility">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-puzzle"></i> Template</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item ">
                <a class="nav-link" routerLink="createtemplate" [routerLinkActive]="['active', '']">
                  <i class="nav-icon fa fa-plus"></i> Create Template</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="templatelist" [routerLinkActive]="['active', '']">
                  <i class="nav-icon fa fa-list-alt"></i> Template List</a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-dropdown" *ngIf="roleVisibility">
            <a class="nav-link nav-dropdown-toggle" href="#">
              <i class="nav-icon icon-star"></i> Applications</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" routerLink="createssoapplication" [routerLinkActive]="['active', '']">
                  <i class="nav-icon fa fa-plus-square"></i> Add Application
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="applicationslist" [routerLinkActive]="['active', '']">
                  <i class="nav-icon fa fa-list-alt"></i> Applications List</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <button  class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    <main class="main">
      <br>
      <ngx-loading-bar></ngx-loading-bar>
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer class="app-footer">
  </footer>
</div>