<div class="container-fluid">
  <div class="animated fadeIn">
    <!-- /.row-->
    <div class="row">
      <div class="col-md-12">
        <div class="card" *ngIf="isDataLoaded">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading card-header">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#acc_{{template.templateId}}">{{template.templateName}}</a>
                  </h5>
                </div>
                <div id="acc_{{template.templateId}}" class="card-body panel-collapse">
                  <div class="panel-body">
                      <div class="tab-layout">
                          <ngb-tabset>
                              <ngb-tab *ngFor="let tab of template.tabs" title="{{tab.tabName}}">
                                  <ng-template ngbTabContent>
                                      <div class="slider">
                                              <div class="slide" *ngFor="let application of tab.applications">
                                                <a href="{{application.applicationUrl}}" target="_blank">
                                                  <img src="{{application.applicationIcon}}" alt="{{application.applicationName}}">
                                                  <p>{{application.applicationName}}</p></a>
                                              </div>
                                      </div>
                                  </ng-template>
                              </ngb-tab>
                          </ngb-tabset>
                      </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary" (click)="goBack()" style="margin-left:10px;">Back</button>
            </div>
            <br/>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row-->
  </div>
</div>